.intro-container {
  height: 100%;
  width: 100%;
  margin:0; 
  position: relative;
  overflow: hidden;
  /* border: purple solid 10px; */
}

.panel-wrapper {
  display: flex;
  height: 100%;
  width: fit-content;
}

.panel {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: lightblue;
  border-right: 1px solid #ddd;
  font-weight: bold;
}

.panel:first-child {
  opacity: 0; /* GSAP will animate this */
}
